/* Libs */

/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font: 1em monospace, monospace;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Utils */

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"), url("../font/Montserrat-Regular.woff2") format("woff2"), url("../font/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), url("../font/Montserrat-Medium.woff2") format("woff2"), url("../font/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"), url("../font/Montserrat-SemiBold.woff2") format("woff2"), url("../font/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"), url("../font/Montserrat-ExtraBold.woff2") format("woff2"), url("../font/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Black"), url("../font/Montserrat-Black.woff2") format("woff2"), url("../font/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Colors */

/* General */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
  color: #303B40;
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  display: inline-block;
  color: #303B40;
  text-decoration: none;
  -webkit-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

a:hover {
  color: #F69A1B;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding: 50px 0;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.375rem;
  margin-bottom: 30px;
}

.subtitle {
  font-weight: 800;
  text-transform: uppercase;
  color: #5477BB;
  line-height: 1.875rem;
}

.text {
  font-weight: 600;
  line-height: 2rem;
}

.button {
  background: #5477BB;
  color: #ffffff;
  border: 0;
  padding: 14px 30px;
  text-transform: uppercase;
  -webkit-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.button:hover {
  background: #4063A7;
  color: #ffffff;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.text-orange {
  color: #F69A1B;
}

/* Blocks */

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header__inner {
  position: relative;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid #5477BB;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: auto;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 32px;
  font-weight: 500;
}

.header__phone:hover .header__phone-icon path {
  fill: #F69A1B;
}

.header__phone-icon path {
  -webkit-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.header__phone-number {
  margin-left: 10px;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__hamburger {
  position: absolute;
  right: 20px;
  top: 34px;
}

.header.mobile-open {
  background: #ffffff;
  min-height: 100vh;
}

.logo {
  -webkit-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.logo:hover {
  opacity: 0.7;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-right: 11px;
  border: 1px solid #E8E8E8;
  -webkit-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.social-link:hover {
  background: #f3f3f3;
}

.nav {
  padding-top: 20px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav__link {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
}

.hamburger {
  border: 0;
  background: transparent;
  z-index: 2;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.hamburger__line {
  background: #5477BB;
  width: 32px;
  height: 2px;
  position: absolute;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.125s ease-in-out;
  -o-transition: 0.125s ease-in-out;
  transition: 0.125s ease-in-out;
}

.hamburger__line:not(:last-child) {
  margin-bottom: 8px;
}

.hamburger__line:nth-child(1) {
  top: 0;
}

.hamburger__line:nth-child(2),
.hamburger__line:nth-child(3) {
  top: 8px;
}

.hamburger__line:nth-child(4) {
  top: 16px;
}

.hamburger.open .hamburger__line:nth-child(1),
.hamburger.open .hamburger__line:nth-child(4) {
  top: 8px;
  width: 0;
  left: 50%;
}

.hamburger.open .hamburger__line:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.open .hamburger__line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hero {
  min-height: 877px;
  background: url("../img/hero-bg.png") top left no-repeat;
  background-size: contain;
}

.hero__inner {
  position: relative;
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 160px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 150px;
}

.hero__main {
  max-width: 450px;
  margin-left: auto;
}

.hero__title {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4.375rem;
  margin-bottom: 70px;
}

.hero__list-item {
  position: relative;
  padding-left: 10px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.hero__list-item::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 2px solid #F69A1B;
  top: 53%;
  left: -10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero__feedback {
  grid-column: span 2;
}

.hero__feedback-main {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}

.hero__feedback-text {
  text-transform: uppercase;
  font-weight: 800;
  line-height: 2rem;
  margin: 0;
}

.hero .container {
  height: 100%;
}

.feedback {
  background: #F69A1B;
  padding: 32px 100px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback__input {
  border: 0;
  min-height: 60px;
  max-width: 264px;
  width: 100%;
  margin-right: 30px;
  padding: 0 20px;
  color: #303B40;
}

.feedback__input::-webkit-input-placeholder {
  color: silver;
}

.feedback__input::-moz-placeholder {
  color: silver;
}

.feedback__input:-ms-input-placeholder {
  color: silver;
}

.feedback__input::-ms-input-placeholder {
  color: silver;
}

.feedback__input::placeholder {
  color: silver;
}

.about {
  background: url("../img/about-bg.png") top right no-repeat;
  background-size: contain;
}

.about__inner {
  position: relative;
  padding-left: 100px;
}

.about__inner::before,
.about__inner::after {
  background: #E8E8E8;
  content: "";
  position: absolute;
  width: 1453px;
  height: 1px;
  left: 0;
}

.about__inner::before {
  top: 0;
}

.about__inner::after {
  bottom: 0;
}

.about__row {
  padding: 40px 100px;
  border-left: 1px solid #e8e8e8;
}

.about__row_bg-grey {
  background: #F6F8F9;
  padding: 10px 100px;
}

.about__row .text {
  margin: 35px 0;
}

.team {
  margin-top: 100px;
}

.team__inner {
  position: relative;
  padding-bottom: 100px;
}

.team__inner::after {
  background: #E8E8E8;
  content: "";
  position: absolute;
  width: 1453px;
  height: 1px;
  left: 0;
  bottom: 0;
}

.team__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.team__carousel {
  margin-top: 45px;
}

.team__member-name {
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
  margin-top: 18px;
}

.team__member-position {
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}

.arrow {
  position: relative;
  width: 60px;
  height: 60px;
  background: #F6F8F9;
  border: 1px solid #E8E8E8;
  -webkit-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.arrow:hover {
  background: #5477BB;
}

.arrow:hover path {
  fill: #ffffff;
}

.arrow path {
  -webkit-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.arrow.slick-disabled {
  opacity: 0.5;
}

.arrow.slick-disabled:hover {
  background: #F6F8F9;
}

.arrow.slick-disabled:hover path {
  fill: #8C969A;
}

.help {
  padding: 100px 0;
}

.help__row {
  z-index: 2;
}

.help__row_first {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-column-gap: 30px;
}

.help__subtitle {
  margin-bottom: 40px;
}

.help__text {
  font-weight: 400;
  font-size: 1.25rem;
}

.help__conclusion {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.75rem;
  margin-top: 35px;
}

.help__block-yellow {
  position: relative;
  max-width: 550px;
  margin-left: auto;
  margin-top: 200px;
}

.help__block-yellow::after {
  content: "";
  position: absolute;
  width: 1354px;
  height: 560px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../img/help-img.jpg") center no-repeat;
  z-index: -1;
}

.block-grey {
  background: #F6F8F9;
  border: 1px solid #E8E8E8;
  padding: 43px 67px;
}

.block-grey__title {
  color: #F69A1B;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.875rem;
  margin-bottom: 20px;
}

.block-grey__header {
  position: relative;
}

.block-grey__icon {
  position: absolute;
  left: -54px;
  top: -8px;
}

.block-grey__list-item {
  position: relative;
  padding-left: 10px;
  margin-left: 12px;
  margin-bottom: 15px;
}

.block-grey__list-item::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 2px solid #F69A1B;
  top: 53%;
  left: -10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.block-yellow {
  background: #F69A1B;
  color: #ffffff;
  padding: 60px;
}

.block-yellow__title {
  font-weight: 900;
  font-size: 3.75rem;
  line-height: 3.75rem;
  margin: 0 0 24px;
}

.block-yellow__text {
  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
  margin: 0;
}

.block-yellow__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
}

.services {
  padding: 100px 0 50px;
}

.services__title {
  margin-bottom: 45px;
}

.services__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.services__list-item {
  padding-left: 100px;
  padding-right: 100px;
}

.services .block-grey__title {
  color: #303B40;
}

.outsourcing {
  position: relative;
  padding: 50px 0 0;
}

.outsourcing::before {
  content: "";
  position: absolute;
  width: 829px;
  height: 1265px;
  right: 0;
  bottom: 0;
  background: url("../img/outsourcing-bg.png") center no-repeat;
  background-size: contain;
  z-index: -1;
}

.outsourcing__inner {
  position: relative;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-column-gap: 30px;
}

.outsourcing__inner::after {
  background: #E8E8E8;
  content: "";
  position: absolute;
  width: 1453px;
  height: 1px;
  left: 0;
  bottom: 0;
}

.outsourcing__title {
  margin-bottom: 30px;
}

.outsourcing__text {
  font-weight: 400;
  margin-bottom: 30px;
}

.suit {
  padding: 75px 0 50px;
}

.suit__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.suit__title {
  line-height: 1;
  margin-bottom: 20px;
}

.suit__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 160px;
  padding-left: 40px;
  border-left: 2px solid #5477BB;
}

.suit__item:not(:last-child) {
  margin-bottom: 50px;
}

.suit__item_first {
  padding-left: 0;
  border-left: 0;
}

.suit__item-title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.875rem;
  margin-bottom: 10px;
}

.suit__item-text {
  font-weight: 500;
  line-height: 1.75rem;
}

.suit__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 100px;
}

.advantages {
  padding: 50px 0;
  background: url("../img/advantages-bg.png") left top no-repeat;
  background-size: contain;
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 100px;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__item-content {
  margin-left: 20px;
}

.advantages__item-title {
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 13px;
  margin-bottom: 20px;
}

.advantages__item-text {
  color: #8C969A;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.75rem;
}

.advantages__icon-block {
  background: rgba(246, 154, 27, 0.15);
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
}

.advantages__grow {
  padding: 0 100px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
}

.advantages__grow-inner {
  padding: 60px 100px;
  background: #F6F8F9;
}

.advantages__grow-title {
  margin-top: 15px;
  font-size: 1.75rem;
  line-height: 2.75rem;
  font-weight: 600;
  margin-left: 100px;
}

.steps {
  padding: 50px 0;
}

.steps__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  margin-bottom: 65px;
}

.steps__number {
  background: #5477BB;
  width: 50px;
  height: 50px;
  color: #ffffff;
  font-size: 1.75rem;
  display: grid;
  place-items: center;
  margin-bottom: 20px;
}

.steps__item-title {
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.875rem;
  text-transform: uppercase;
  color: #F69A1B;
  margin-bottom: 11px;
}

.steps__item-text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75rem;
}

.steps__block-yellow {
  padding: 60px 100px;
}

.steps__block-yellow-title {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.steps__block-yellow-text {
  font-weight: 500;
}

.steps__block-yellow-button {
  min-width: 220px;
  font-size: 0.875rem;
  padding: 21px 30px;
}

.blog {
  padding: 50px 0;
}

.blog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.blog__post {
  position: relative;
}

.blog__post:hover .blog__post-img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.blog__img-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.blog__post-img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.2s -webkit-transform ease-out;
  transition: 0.2s -webkit-transform ease-out;
  -o-transition: 0.2s transform ease-out;
  transition: 0.2s transform ease-out;
  transition: 0.2s transform ease-out, 0.2s -webkit-transform ease-out;
}

.blog__post-date {
  background: #5477BB;
  position: absolute;
  left: 10px;
  bottom: 10px;
  padding: 6px 17px;
  font-weight: 400;
  font-size: 0.875rem;
  color: #fff;
  line-height: 1.125rem;
}

.blog__post-name {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.blog .slick-slide {
  margin: 0 24px;
}

.blog .slick-list {
  margin: 0 -24px;
}

.trust {
  padding: 50px 0;
  background: url("../img/trust-bg.png") right center no-repeat;
  background-size: contain;
}

.trust__inner {
  position: relative;
  padding: 100px 0;
}

.trust__inner::before,
.trust__inner::after {
  background: #E8E8E8;
  content: "";
  position: absolute;
  width: 1453px;
  height: 1px;
  left: 0;
}

.trust__inner::before {
  top: 0;
}

.trust__inner::after {
  bottom: 0;
}

.trust__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.trust .slick-slide {
  margin: 0 24px;
}

.trust .slick-list {
  margin: 0 -24px;
}

.contacts {
  padding: 50px 0;
}

.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-column-gap: 120px;
  -moz-column-gap: 120px;
  column-gap: 120px;
}

.contacts__subtitle {
  margin-bottom: 40px;
}

.contacts__phones {
  margin-bottom: 24px;
}

.contacts__phone-label {
  min-width: 106px;
  margin-right: 5px;
  font-size: 0.875rem;
}

.contacts__phone-value {
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.925rem;
}

.contacts__addresses {
  margin-bottom: 33px;
}

.contacts__phone-item,
.contacts__address-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1.925rem;
}

.contacts__address-label {
  min-width: 106px;
  font-size: 0.875rem;
  margin-right: 5px;
}

.contacts__address-value {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.925rem;
}

.contacts__social {
  margin-bottom: 30px;
}

.contacts__map {
  margin-bottom: 30px;
}

.contacts__map-img {
  width: 100%;
}

.contacts__text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75rem;
}

.contacts__subscribe {
  position: relative;
  margin-top: 25px;
}

.contacts__subscribe-field {
  width: 100%;
  background: #F6F8F9;
  border: 1px solid #E8E8E8;
  padding: 22px 20px;
}

.contacts__subscribe-button {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border: 0;
  background: url("../img/plane-icon.svg") center no-repeat;
  -webkit-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.contacts__subscribe-button:hover {
  opacity: 0.7;
}

.contacts__feedback-form {
  background: #F69A1B;
  max-width: 460px;
  width: 100%;
  padding: 60px;
  color: #ffffff;
  text-align: center;
}

.contacts__feedback-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.5rem;
  white-space: nowrap;
}

.contacts__feedback-control {
  margin-bottom: 10px;
}

.contacts__feedback-input,
.contacts__feedback-textarea {
  background: #ffffff;
  width: 100%;
  padding: 22px 20px;
  border: 0;
  color: #303B40;
}

.contacts__feedback-agree {
  font-size: 0.875rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 30px;
}

.footer {
  background: #303B40;
  color: #ffffff;
  padding: 20px 0;
  margin-top: 30px;
}

.footer__inner {
  text-align: center;
}

.footer__text {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
}

.preloader-wrapper {
  background: #282828;
  display: grid;
  place-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.preloader {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 10px solid #f3d736;
  border-top-color: #4084d3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  -webkit-animation: loading 1s linear infinite;
  animation: loading 1s linear infinite;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (min-width: 769px) {
  .header__hamburger {
    display: none;
  }
}

@media (max-width: 1140px) {
  .hero__feedback {
    padding: 32px 30px;
  }
}

@media (max-width: 992px) {
  .hero {
    min-height: auto;
  }

  .hero__inner {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .hero__main {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }

  .hero__img-wrapper {
    text-align: center;
    padding: 50px 0 0;
  }

  .hero__title {
    text-align: center;
  }

  .hero__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero__feedback {
    grid-column: span 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero__feedback-text {
    margin-bottom: 20px;
  }

  .about__inner {
    padding-left: 0;
  }

  .team__member-img {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1.75rem;
    line-height: 2.5rem;
    margin-bottom: 20px;
  }

  .subtitle {
    margin-bottom: 20px;
  }

  .header__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .header__info {
    display: none;
  }

  .header__navigation {
    display: none;
  }

  .header.mobile-open .header__inner {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .header.mobile-open .header__main {
    border-top: 2px solid #5477bb;
    border-bottom: 0;
    padding: 40px 0 70px;
  }

  .header.mobile-open .header__info,
  .header.mobile-open .header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header.mobile-open .header__navigation {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .header.mobile-open .header__info {
    margin-left: 0;
    margin-right: 0;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .header.mobile-open .header__phone {
    margin-right: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .header.mobile-open .header__links {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header.mobile-open .social-link {
    margin: 0 6px 10px;
  }

  .header.mobile-open .header__button {
    margin-bottom: 10px;
  }

  .header.mobile-open .header__navigation,
  .header.mobile-open .nav,
  .header.mobile-open .nav__list {
    height: 100%;
  }

  .header.mobile-open .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header.mobile-open .logo {
    display: none;
  }

  .logo {
    max-width: 120px;
  }

  .hero__img-wrapper {
    padding: 0;
  }

  .hero__img {
    max-width: 300px;
  }

  .hero__title {
    margin-bottom: 30px;
  }

  .about__row {
    padding: 20px 40px;
    text-align: center;
  }

  .about__row .title {
    margin-bottom: 20px;
  }

  .about__row .text {
    margin: 15px 0;
  }

  .team {
    margin-top: 50px;
  }

  .team__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .team__heading {
    text-align: center;
    margin-bottom: 20px;
  }

  .team__heading .title {
    margin-bottom: 20px;
  }

  .team__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .help {
    padding: 50px 0;
  }

  .help__row_first {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }

  .help__info {
    text-align: center;
    margin-bottom: 30px;
  }

  .help__conclusion {
    text-align: center;
  }

  .help__block-yellow {
    max-width: 100%;
    margin-top: 250px;
  }

  .help__block-yellow::after {
    width: 100%;
    height: 300px;
    top: -50px;
  }

  .help br {
    display: none;
  }

  .block-grey__icon {
    position: relative;
    left: 0;
  }

  .block-yellow {
    padding: 30px;
  }

  .block-yellow__title {
    font-size: 2.5rem;
    margin: 0 0 10px;
  }

  .block-yellow__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 30px;
  }

  .services {
    padding: 25px 0 50px;
  }

  .services__title {
    text-align: center;
    margin-bottom: 25px;
  }

  .services__list {
    grid-template-columns: 1fr;
  }

  .services__list-item {
    padding-left: 30px;
    padding-right: 30px;
  }

  .outsourcing {
    padding: 25px 0 0;
  }

  .outsourcing__inner {
    grid-template-columns: 1fr;
    padding-bottom: 40px;
  }

  .suit__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .suit__item {
    min-height: auto;
    margin-bottom: 50px;
  }

  .suit__img-wrapper {
    margin-top: 0;
  }

  .advantages {
    padding: 25px 0;
  }

  .advantages__list {
    grid-template-columns: 1fr;
  }

  .advantages__grow {
    padding: 0;
  }

  .advantages__grow-inner {
    padding: 30px 60px;
  }

  .advantages__grow-title {
    margin-left: 0;
    font-size: 1.375rem;
    line-height: 2rem;
  }

  .steps__title {
    margin-bottom: 40px;
  }

  .steps__list {
    grid-template-columns: 1fr;
  }

  .steps__item:not(:last-child) {
    margin-bottom: 50px;
  }

  .steps__block-yellow {
    text-align: center;
  }

  .steps__block-yellow-title {
    margin-bottom: 40px;
    font-size: 2rem;
  }

  .blog {
    padding: 25px 0;
  }

  .blog__header {
    margin-bottom: 25px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .blog__post {
    display: block !important;
    margin: 0 auto;
    max-width: 300px;
  }

  .blog__post-name {
    text-align: center;
  }

  .trust {
    padding: 25px 0;
  }

  .trust__inner {
    padding: 50px 0;
  }

  .trust__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .contacts {
    padding: 25px 0;
  }

  .contacts__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .contacts__feedback-form {
    margin-top: 40px;
  }
}

@media (max-width: 415px) {
  .hero__img {
    max-width: 230px;
  }

  .hero__feedback-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero__feedback-text {
    text-align: center;
    font-weight: 600;
  }

  .feedback__input {
    max-width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
    min-height: 47px;
  }

  .advantages__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .advantages__item-content {
    margin-left: 0;
  }

  .contacts__feedback-title {
    white-space: pre-wrap;
    font-size: 1.25rem;
  }
}