.feedback {
  background-color: $color-orange;
  padding: 32px 100px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__form {
    display: flex;
  }

  &__input {
    border: 0;
    min-height: 60px;
    max-width: 264px;
    width: 100%;
    margin-right: 30px;
    padding: 0 20px;
    color: $color-black;

    @media (max-width: 415px) {
      max-width: 100%;
      margin-bottom: 10px;
      margin-right: 0;
      min-height: 47px;
    }

    &::placeholder {
      color: silver;
    }
  }
}