* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $base-font-size;
}

body {
  height: 100%;
  font-family: $font-family;
  font-weight: 400;
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: $content-size;
  width: 100%;
}

a {
  display: inline-block;
  color: $color-black;
  text-decoration: none;
  transition: 0.15s ease-out;

  &:hover {
    color: $color-orange;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding: 50px 0;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.875rem;
}

.button {
  background-color: $color-blue;
  color: #ffffff;
  border: 0;
  padding: 14px 30px;
  text-transform: uppercase;
  transition: 0.15s ease-out;

  &:hover {
    background-color: #4063A7;
    color: #ffffff;
  }
}

.hide {
  opacity: 0;
  visibility: hidden;
}