.hero {
  min-height: 877px;
  background: url("../img/hero-bg.png") top left no-repeat;
  background-size: contain;

  @media (max-width: 992px) {
    min-height: auto;
  }
  
  &__inner {
    position: relative;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 160px;
    align-items: center;
    padding-top: 150px;

    @media (max-width: 992px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }

  &__main {
    max-width: 450px;
    margin-left: auto;

    @media (max-width: 992px) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
    }
  }

  &__img-wrapper {
    @media (max-width: 992px) {
      text-align: center;
      padding: 50px 0 0;
    }

    @media (max-width: 768px) {
      padding: 0;
    }
  }

  &__img {
    @media (max-width: 768px) {
      max-width: 300px;
    }

    @media (max-width: 415px) {
      max-width: 230px;
    }
  }

  &__title {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 4.375rem;
    margin-bottom: 70px;

    @media (max-width: 992px) {
      text-align: center;
    }

    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__list {
    @media (max-width: 992px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__list-item {
    position: relative;
    padding-left: 10px;
    margin-left: 15px;
    margin-bottom: 15px;

    &::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      border: 2px solid $color-orange;
      top: 53%;
      left: -10px;
      transform: translateY(-50%);
    }
  }

  &__feedback {
    grid-column: span 2;

    @media (max-width: 1140px) {
      padding: 32px 30px;
    }

    @media (max-width: 992px) {
      grid-column: span 1;
      flex-direction: column;
    }
  }

  &__feedback-main {
    flex-basis: 40%;
  }

  &__feedback-form {
    @media (max-width: 415px) {
      flex-direction: column;
    }
  }

  &__feedback-text {
    text-transform: uppercase;
    font-weight: 800;
    line-height: 2rem;
    margin: 0;

    @media (max-width: 992px) {
      margin-bottom: 20px;
    }

    @media (max-width: 415px) {
      text-align: center;
      font-weight: 600;
    }
  }

  .container {
    height: 100%;
  }
}