.services {
  padding: 100px 0 50px;

  &__title {
    margin-bottom: 45px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  &__list-item {
    padding-left: 100px;
    padding-right: 100px;
  }

  .block-grey__title {
    color: $color-black;
  }
}