extends layout/app

block page 
    include chunk/header
    include chunk/hero
    include chunk/about
    include chunk/team
    include chunk/help
    include chunk/services
    include chunk/outsourcing
    include chunk/suit
    include chunk/advantages
    include chunk/steps
    include chunk/blog
    include chunk/trust
    include chunk/footer