extends layout/app

block page 
    include chunk/header
    include chunk/hero
    include chunk/about
    include chunk/team
    include chunk/help
    include chunk/services
    include chunk/footer