section.about
  .container
    .about__inner
      .about__row
        h2.title О нас
        h4.subtitle Аудиторская фирма ТЕТ успешно оказывает услуги с 1995г.
        p.text За это время мы сформировали команду профессионалов в сфере бухгалтерского, управленческого учета и аудита, поэтому можем гарантировать компетентность наших сотрудников и высокое качество наших услуг.
      .about__row.about__row_bg-grey
        p.text Среди наших клиентов не только украинские компании, но и компании нерезиденты различных форм собственности. Наша компания имеет официальное подтверждение АПУ о соответствии системы контроля качества и сертифицированных штатных аудиторов.