section.advantages
  .container
    .advantages__list
      .advantages__item
        h2.title Наши преимущества
      .advantages__item
        .advantages__icon-wrapper
          .advantages__icon-block
            svg.advantages__icon(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
              g(clip-path='url(#clip0_2294_175)')
                path(d='M11.9999 7.42773C9.47833 7.42773 7.427 9.47906 7.427 12.0004C7.427 14.522 9.47833 16.5733 11.9999 16.5733C14.5212 16.5733 16.5726 14.522 16.5726 12.0004C16.5726 9.47906 14.5212 7.42773 11.9999 7.42773ZM14.7148 11.1393L11.4388 14.4152C11.3013 14.5527 11.121 14.6216 10.9408 14.6216C10.7606 14.6216 10.5804 14.5529 10.4429 14.4152L9.19104 13.1633C8.91602 12.8885 8.91602 12.4426 9.19104 12.1676C9.46588 11.8926 9.91174 11.8926 10.1868 12.1676L10.9408 12.9216L13.7191 10.1436C13.9939 9.86853 14.4398 9.86853 14.7148 10.1436C14.9898 10.4184 14.9898 10.8643 14.7148 11.1393Z' fill='#F69A1B')
                path(d='M22.1948 6.51181L22.194 6.49313C22.1836 6.2626 22.1766 6.01871 22.1724 5.74734C22.1528 4.42404 21.1009 3.32944 19.7774 3.25547C17.018 3.10148 14.8834 2.2017 13.0595 0.423934L13.0439 0.409102C12.449 -0.136367 11.5516 -0.136367 10.9565 0.409102L10.9409 0.423934C9.11704 2.2017 6.9824 3.10148 4.22301 3.25565C2.89971 3.32944 1.84759 4.42404 1.82799 5.74753C1.82397 6.01706 1.81682 6.26095 1.80639 6.49313L1.80529 6.53653C1.75164 9.3503 1.68499 12.8522 2.85649 16.0307C3.50066 17.7786 4.47624 19.298 5.75596 20.547C7.21348 21.9693 9.12253 23.0986 11.43 23.9031C11.5051 23.9293 11.5831 23.9505 11.6626 23.9665C11.7746 23.9888 11.8874 24 12.0002 24C12.113 24 12.226 23.9888 12.3379 23.9665C12.4173 23.9505 12.4959 23.9291 12.5713 23.9028C14.8761 23.0967 16.7831 21.967 18.2393 20.5448C19.5185 19.2955 20.4941 17.7757 21.1388 16.0274C22.3147 12.8394 22.2482 9.33089 22.1948 6.51181ZM11.9998 17.9815C8.70175 17.9815 6.01872 15.2985 6.01872 12.0004C6.01872 8.70229 8.70175 6.01926 11.9998 6.01926C15.2977 6.01926 17.981 8.70229 17.981 12.0004C17.981 15.2985 15.2977 17.9815 11.9998 17.9815Z' fill='#F69A1B')
              defs
                clippath#clip0_2294_175
                  rect(width='24' height='24' fill='white')
        .advantages__item-content
          h3.advantages__item-title Надежность
          p.advantages__item-text Страхуем профессиональную ответственность, несем финансовые гарантии за нашу работу и гарантируем качество предоставляемых нами услуг
      .advantages__item
        .advantages__icon-wrapper
          .advantages__icon-block
            svg.advantages__icon(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
              g(clip-path='url(#clip0_62_578)')
                path(d='M15.9664 11.6533V12.2599C15.9664 13.694 14.7997 14.861 13.3654 14.861H10.6344C9.20032 14.861 8.03339 13.6942 8.03339 12.2599V11.6533H0V19.5162C0 20.8353 1.07318 21.9085 2.39227 21.9085H21.6077C22.9268 21.9085 24 20.8353 24 19.5162V11.6533H15.9664Z' fill='#F69A1B')
                path(d='M9.45831 12.2599C9.45831 12.9085 9.98584 13.436 10.6344 13.436H13.3654C14.014 13.436 14.5417 12.9085 14.5417 12.2599V11.6533H9.45831V12.2599Z' fill='#F69A1B')
                path(d='M24 10.2285V8.11267C24 6.79358 22.9268 5.7204 21.6077 5.7204H16.3757V3.94354C16.3757 2.93207 15.553 2.10938 14.5415 2.10938H9.4585C8.44702 2.10938 7.62433 2.93207 7.62433 3.94354V5.7204H2.39227C1.07318 5.7204 0 6.79358 0 8.11267V10.2283H24V10.2285ZM9.04907 3.94354C9.04907 3.71777 9.23273 3.53412 9.4585 3.53412H14.5415C14.7673 3.53412 14.9509 3.71777 14.9509 3.94354V5.7204H9.04907V3.94354Z' fill='#F69A1B')
              defs
                clippath#clip0_62_578
                  rect(width='24' height='24' fill='white')
        .advantages__item-content
          h3.advantages__item-title Профессионализм
          p.advantages__item-text Наличие в штате сертифицированных аудиторов позволяет постоянно проводить контроль качества работы бухгалтеров, а автоматизация учетных процессов помогает  исключить операционные ошибки
      .advantages__item
        .advantages__icon-wrapper
          .advantages__icon-block
            svg.advantages__icon(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
              g(clip-path='url(#clip0_2294_193)')
                path(d='M2.98332 17.5039L0.725998 19.7612C-0.242081 20.7293 -0.242081 22.3046 0.725998 23.2726C1.19511 23.7418 1.81859 23.9999 2.4818 23.9999C3.145 23.9999 3.76866 23.7418 4.23759 23.2726L6.49492 21.0155L2.98332 17.5039Z' fill='#F69A1B')
                path(d='M13.9321 8.89697C13.9321 9.37524 14.3212 9.76434 14.7995 9.76434C15.2776 9.76434 15.6667 9.37524 15.6667 8.89697C15.6667 8.41888 15.2776 8.02979 14.7995 8.02979C14.3212 8.02979 13.9321 8.41888 13.9321 8.89697Z' fill='#F69A1B')
                path(d='M21.301 2.69788C19.5613 0.958191 17.2482 0 14.7878 0C12.3274 0 10.0142 0.958191 8.27435 2.69788C4.85028 6.12213 4.6908 11.5935 7.79608 15.2084L6.99261 16.0117L5.73413 14.7532L3.97778 16.5095L7.48938 20.0211L9.24573 18.2648L7.98724 17.0063L8.79034 16.203C10.4592 17.6391 12.5632 18.4224 14.7876 18.4224C17.248 18.4224 19.5612 17.4642 21.301 15.7245C23.0407 13.9847 23.9989 11.6717 23.9989 9.2113C23.9989 6.75073 23.0407 4.43756 21.301 2.69788ZM19.7545 14.178C18.3853 15.5473 16.5864 16.2321 14.7878 16.2321C12.989 16.2321 11.1903 15.5473 9.82086 14.178C8.49426 12.8513 7.76367 11.0874 7.76367 9.2113C7.76367 7.33502 8.49426 5.57117 9.82086 4.24438C12.5596 1.50568 17.0158 1.50568 19.7545 4.24438C21.0813 5.57117 21.8119 7.33502 21.8119 9.2113C21.8119 11.0874 21.0813 12.8513 19.7545 14.178Z' fill='#F69A1B')
                path(d='M18.7601 5.23901C17.6649 4.14386 16.2263 3.59619 14.7878 3.59619C13.3491 3.59619 11.9105 4.14386 10.8153 5.23901C9.75439 6.30011 9.16992 7.71075 9.16992 9.2113C9.16992 10.7119 9.75439 12.1227 10.8153 13.1838C13.0058 15.3741 16.5698 15.3741 18.7601 13.1838C19.8212 12.1227 20.4055 10.7119 20.4055 9.2113C20.4055 7.71075 19.8212 6.30011 18.7601 5.23901ZM17.9423 10.0212C17.9363 10.0111 17.6283 9.49677 17.0707 8.99359C17.02 10.2026 16.0208 11.1709 14.7995 11.1709C13.5844 11.1709 12.5889 10.2129 12.5286 9.01245C11.9722 9.51489 11.655 10.0239 11.649 10.034L10.4491 9.30011C10.5159 9.1908 12.1174 6.62347 14.7995 6.62347C17.5697 6.62347 19.095 9.20508 19.1585 9.31494L17.9423 10.0212Z' fill='#F69A1B')
              defs
                clippath#clip0_2294_193
                  rect(width='24' height='24' fill='white')
        .advantages__item-content
          h3.advantages__item-title Прозрачность
          p.advantages__item-text Обеспечим объективное представление о финансовом состоянии компании
      .advantages__item
        .advantages__icon-wrapper
          .advantages__icon-block
            svg.advantages__icon(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M4.87552 20.9995H19.1245C19.5388 20.9995 19.8744 20.6639 19.8744 20.2496V14.9999C19.8744 14.5856 19.5388 14.25 19.1245 14.25H4.87552C4.46118 14.25 4.12558 14.5856 4.12558 14.9999V20.2496C4.12558 20.6639 4.46118 20.9995 4.87552 20.9995Z' fill='#F69A1B')
              path(d='M8.0398 8.67014L7.36204 12.6233C7.25724 13.2338 7.90135 13.7028 8.4504 13.4135L12 11.5476L15.5496 13.4135C16.1029 13.7032 16.7421 13.2304 16.6379 12.6233L15.9601 8.67014L18.832 5.87097C19.2758 5.4383 19.0305 4.68147 18.4162 4.59185L14.4471 4.01533L12.6726 0.418879C12.3974 -0.137767 11.6026 -0.137579 11.3274 0.418879L9.55282 4.01533L5.58374 4.59185C4.97033 4.68138 4.72355 5.43774 5.16799 5.87097L8.0398 8.67014Z' fill='#F69A1B')
              path(d='M22.6131 20.6247L23.9002 18.3721C24.1854 17.8733 23.8248 17.25 23.2492 17.25H21.6087C21.4792 17.25 21.3743 17.3549 21.3743 17.4844V20.2498C21.3743 21.4923 20.367 22.4996 19.1245 22.4996H17.109C16.9796 22.4996 16.8746 22.6046 16.8746 22.734V23.2496C16.8746 23.6638 17.2104 23.9995 17.6246 23.9995H23.2492C23.8238 23.9995 24.1859 23.3771 23.9002 22.8774L22.6131 20.6247Z' fill='#F69A1B')
              path(d='M2.62569 20.2498V17.4844C2.62569 17.3549 2.52075 17.25 2.39134 17.25H0.750832C0.176234 17.25 -0.185942 17.8724 0.0997869 18.3721L1.38688 20.6247L0.0997869 22.8774C-0.185426 23.3762 0.175203 23.9995 0.750832 23.9995H6.37541C6.78962 23.9995 7.12536 23.6638 7.12536 23.2496V22.734C7.12536 22.6046 7.02041 22.4996 6.891 22.4996H4.87553C3.63296 22.4996 2.62569 21.4923 2.62569 20.2498Z' fill='#F69A1B')
        .advantages__item-content
          h3.advantages__item-title Эффективность
          p.advantages__item-text Гибкие условия сотрудничества. Снижение затрат на содержание штатных специалистов. Отсутствие кадровых проблем и привязки к специалисту.  Связь 24/7 без отпусков и больничных
      .advantages__item
        .advantages__icon-wrapper
          .advantages__icon-block
            svg.advantages__icon(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
              g(clip-path='url(#clip0_2294_12)')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M12.0001 17.1311C11.3205 17.1311 10.6622 17.0361 10.038 16.8589L11.9987 21.1277L13.9589 16.8598C13.3357 17.0364 12.6785 17.1311 12.0001 17.1311Z' fill='#F69A1B')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M2.46057 19.8424C2.28478 19.5163 2.19558 19.139 2.22193 18.7435L2.29819 17.6391L1.56858 17.5796C0.594379 19.1356 0.0261129 20.9417 0.00361295 22.8665C-0.0381058 23.2809 0.286785 23.6407 0.703175 23.6407L7.87257 23.6398C6.83714 22.9701 2.9288 20.711 2.46057 19.8424Z' fill='#F69A1B')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M21.6992 17.6389L21.7754 18.7433C21.8018 19.1387 21.7126 19.5161 21.5368 19.8422C21.3623 20.1659 21.101 20.4386 20.7816 20.6279L16.1263 23.6385L23.297 23.6376C23.6784 23.6414 23.999 23.3242 23.9973 22.9345C23.9876 20.984 23.4173 19.1536 22.4315 17.5791L21.6992 17.6389Z' fill='#F69A1B')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M11.1469 22.6302L8.08953 15.9737C7.66076 15.6956 7.26303 15.3734 6.90307 15.0134C6.07554 14.1859 5.44704 13.1589 5.09721 12.0127L0.324822 14.9151C-0.206084 15.2264 -0.0353188 16.0358 0.574619 16.0842L3.79432 16.3512L3.62267 18.8368C3.60602 19.0866 3.73723 19.3122 3.94137 19.428L10.2978 23.5387C10.5896 23.7283 10.9798 23.6453 11.1694 23.3535C11.2916 23.1653 11.3005 22.9363 11.2131 22.7465L11.1469 22.6302Z' fill='#F69A1B')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M20.3747 18.8368L20.203 16.3512L23.4205 15.9934C24.0304 15.9451 24.2207 15.1338 23.6898 14.8225L18.9026 12.0142C18.5527 13.1598 17.9243 14.1862 17.0971 15.0134C16.7361 15.3745 16.337 15.6976 15.9067 15.9763L12.8505 22.6302L12.7841 22.7466C12.6968 22.9363 12.7057 23.1655 12.828 23.3537C13.0175 23.6455 13.4077 23.7284 13.6995 23.5389L20.056 19.4281C20.2602 19.3123 20.3913 19.0867 20.3747 18.8368Z' fill='#F69A1B')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M12 15.725C15.1961 15.725 17.8084 13.1126 17.8084 9.91657V8.59375H6.19159V9.91657C6.19159 13.1126 8.80398 15.725 12 15.725Z' fill='#F69A1B')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M4.78127 7.20633C9.5938 7.20633 14.4063 7.20633 19.2188 7.20633C19.6071 7.20633 19.922 6.89152 19.922 6.50321C19.922 6.11489 19.6071 5.80008 19.2188 5.80008H17.984C17.5819 4.14468 17.2732 2.11095 16.134 0.971746C15.1163 -0.0460078 14.3841 0.446697 13.4812 1.05439C13.0549 1.34126 12.5642 1.67155 12.0021 1.67155C11.4551 1.67155 10.9785 1.33967 10.5629 1.05022C9.66205 0.422744 8.92869 -0.087961 7.86903 0.971699C6.69448 2.14625 6.34732 4.13413 5.99805 5.80013H4.78131C4.393 5.80013 4.07819 6.11494 4.07819 6.50325C4.07814 6.89152 4.39295 7.20633 4.78127 7.20633Z' fill='#F69A1B')
              defs
                clippath#clip0_2294_12
                  rect(width='24' height='24' fill='white')
        .advantages__item-content
          h3.advantages__item-title Конфиденциальность
          p.advantages__item-text Сохраняем полную конфиденциальность и информационную безопасность ваших данных
    .advantages__grow
      .advantages__grow-inner
        h4.subtitle Мы растем вместе с нашими клиентами,
        h3.advantages__grow-title поэтому делаем все, чтобы ваш бизнес был успешным!