section.help
  .container
    .help__inner
      .help__row.help__row_first
        .help__info
          h2.title Как бы стремительно не менялся мир, но
          h4.subtitle.help__subtitle грамотная финансовая отчетность продолжает определять успешность и обоснованность управленческих решений.
          p.text.help__text Наш опыт в сфере бухгалтерского и управленческого учета позволяет оперативно оценить состояние предприятия, подготовить все виды отчетности и уберечь от возможных убытков и штрафов.
        .block-grey.help__block-grey
          h3.block-grey__title мы помогаем:
          ul.block-grey__list
            li.block-grey__list-item эффективно планировать
            li.block-grey__list-item контролировать
            li.block-grey__list-item распределять ответственность
            li.block-grey__list-item оптимизировать налогообложение
            li.block-grey__list-item привлекать заемные средства.
      .help__row
        h3.help__conclusion Компетентная коммуникация с фискальными службами -#[br]мы всегда на вашей стороне.
      .help__row
        .block-yellow.help__block-yellow
          h2.block-yellow__title Большой опыт
          p.block-yellow__text досудебных и судебных споров с налоговой. Миллионы гривен отмененных штрафных санкций