section.hero
    .container
        .hero__inner
            .hero__img-wrapper
                img.hero__img(src="./img/hero-img.png" alt="rubik")
            .hero__main
                h1.title.hero__title С нами#[br] все сложится!
                ul.hero__list
                    li.hero__list-item бухгалтерское сопровождение
                    li.hero__list-item аудиторские услуги
                    li.hero__list-item налоговый консалтинг
                    li.hero__list-item управленческий учет
            .feedback.hero__feedback
                .feedback__main.hero__feedback-main
                    p.feedback__text.hero__feedback-text Получите надежное бухгалтерское обслуживание с гарантиями и ответственностью в договоре
                form.feedback__form.hero__feedback-form
                    input.feedback__input(type="tel" placeholder="+380")
                    button.button(type="submit") Консультация