section.outsourcing
  .container
    .outsourcing__inner
      .outsourcing__info
        h2.title.outsourcing__title Аутсорсинг бухгалтерии
        p.text.outsourcing__text Бизнес предпочитает фокусироваться на своих целевых процессах, а непрофильные функции отдавать сторонним специалистам. Если раньше аутсорсинг бухгалтерии рассматривался исключительно с точки зрения экономии на штатном бухгалтере, то сейчас к нему обращаются с целью
        h4.subtitle достичь конкурентных преимуществ, снижения финансовых рисков и повышения рентабельности бизнеса
      .outsourcing__stat
        .block-yellow
          .block-yellow__title 70%
          .block-yellow__text компаний в мире пользуются услугами бухгалтера на аутсорсе