section#steps.steps
  .container
    h2.title.steps__title С чего начать?
    .steps__list
      .steps__item
        .steps__number 1
        h3.steps__item-title Консультация
        p.steps__item-text Мы с радостью расскажем более подробно о нашей компании и предоставим информацию об услугах.
      .steps__item
        .steps__number 2
        h3.steps__item-title Экспресс-аудит
        p.steps__item-text Проводим экспресс аудит предприятия, обсуждаем детали, подбираем оптимальные условия сотрудничества.
      .steps__item
        .steps__number 3
        h3.steps__item-title Договор
        p.steps__item-text Согласуем и подписываем договор, Принимаем документы, ключи, доступы. Организуем учет и документооборот.
    .steps__block-yellow.block-yellow
      h3.steps__block-yellow-title.block-yellow__title Экспресс аудит
      .block-yellow__content
        p.steps__block-yellow-text.block-yellow__text Сделаем анализ состояния бухгалтерского учета вашей компании. Предоставим рекомендации по оптимизации, сообщим о наличии ошибок и потенциальных налоговых рисках.
        button.button.steps__block-yellow-button Оставить заявку