section.suit
  .container
    .suit__inner
      .suit__column
        .suit__item.suit__item_first
          h2.title.suit__title Кому подходит
          p.subtitle бухгалтерский аутсорсинг
        .suit__item
          h3.suit__item-title #[span.text-orange 01.] Стартапы
          p.suit__item-text Аутсорсинг бухгалтерии дает возможность посвятить себя бизнес-процессам, не распыляясь на вспомогательные функции.
        .suit__item
          h3.suit__item-title #[span.text-orange 02.] ФОПы, малые и средние предприятия
          p.suit__item-text Бухгалтерское сопровождение позволит оптимизировать расходы на содержание штатного специалиста. К тому же ожидать качественный результат и защиту от налоговых рисков от бухгалтера-фрилансера точно не стоит
      .suit__column
        .suit__item
          h3.suit__item-title #[span.text-orange 03.] Сезонный бизнес
          p.suit__item-text Содержать бухгалтерию в период спада активности невыгодно.  Поэтому у компаний сезонного бизнеса аутсорсинг бухгалтерских услуг пользуется спросом
        .suit__item
          h3.suit__item-title #[span.text-orange 04.] Иностранный бизнес
          p.suit__item-text Бухгалтерское сопровождение позволит оптимизировать расходы на содержание штатного специалиста. К тому же ожидать качественный результат и защиту от налоговых рисков от бухгалтера-фрилансера точно не стоит
        .suit__item
          h3.suit__item-title #[span.text-orange 05.] Компании с двумя и более учредителями
          p.suit__item-text Передача учетных функций обеспечивает прозрачность учета и независимость бухгалтерии, равный доступ пользователей к результатам учета
  .suit__img-wrapper
    img.suit__img(src="./img/suit-img.jpg" alt="who suits image")