section.trust
  .container
    .trust__inner
      .trust__header
        .trust__heading
          h2.title Публикации
        .trust__arrows
          button.arrow.arrow_left
            svg(width='20' height='12' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M5.41667 0.583374L0 6.00004L5.41667 11.4167L6.00583 10.8275L1.595 6.41671H20V5.58337H1.595L6.00583 1.17254L5.41667 0.583374Z' fill='#8C969A')
          button.arrow.arrow_right
            svg(width='20' height='12' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M14.5833 11.4166L20 5.99996L14.5833 0.583294L13.9942 1.17246L18.405 5.58329L0 5.58329V6.41663L18.405 6.41663L13.9942 10.8275L14.5833 11.4166Z' fill='#8C969A')
      .trust__carousel.carousel
        .trust__item
          img.trust__item-img(src="./img/trust-1.jpg" alt="trust image 1")
        .trust__item
          img.trust__item-img(src="./img/trust-2.jpg" alt="trust image 2")
        .trust__item
          img.trust__item-img(src="./img/trust-3.jpg" alt="trust image 3")
        .trust__item
          img.trust__item-img(src="./img/trust-4.jpg" alt="trust image 4")
        .trust__item
          img.trust__item-img(src="./img/trust-5.jpg" alt="trust image 5")
        .trust__item
          img.trust__item-img(src="./img/trust-6.jpg" alt="trust image 6")
        .trust__item
          img.trust__item-img(src="./img/trust-1.jpg" alt="trust image 1")
        .trust__item
          img.trust__item-img(src="./img/trust-2.jpg" alt="trust image 2")
        .trust__item
          img.trust__item-img(src="./img/trust-3.jpg" alt="trust image 3")
        .trust__item
          img.trust__item-img(src="./img/trust-4.jpg" alt="trust image 4")
        .trust__item
          img.trust__item-img(src="./img/trust-5.jpg" alt="trust image 5")
        .trust__item
          img.trust__item-img(src="./img/trust-6.jpg" alt="trust image 6")